
*{
    /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height.*/
    padding: 0;
    margin: 0;
    font-family: 'jost';
    text-decoration: none;
}
body{
    /*Setting of the background colour as well as the margin and font colour*/
    background-color:  #A7C957;
    margin: 0;
    color: black;
}
/*banner*/
.banner{
    width: 100%;
    height: 5vh;
    background-color: #386641;
    display: table;
}
.banner h1{
    width: 10%;
    position: relative;
    text-align: left;
    padding-left: 1%;
    display: table-cell;
    color: #F2E8CF;
    font-size: 250%;
    font-family: 'caveat', cursive;
    cursor: pointer;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 1vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar a{
    text-decoration: none;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #F2E8CF;
    font-size: 120%;
}
.navbar ul li a:hover{
    color: #BC4749;
}
.navbar ul li::after{
    content: '';
    height: 1px;
    width: 0;
    background: #F2E8CF;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

    background-color: navy;
    position: sticky;


}

.board {
    display: inline-grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    grid-template-columns: repeat(var(--size), 60px);
    grid-template-rows: repeat(var(--size), 60px);
    gap: 1px;
    background-color: #6a994e;
}
  
.board > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a994e;
    border: 2px solid #5c8644;
    user-select: none;
}

/*different states for the tiles*/
.board > [data-state="hidden"] {
    background-color: #6A994E;
    cursor: pointer;
}

.board > [data-state="mine"] {
    background-color: #BC4749;
}

.board > [data-state="number"] {
    background-color: #F2E8CF;
}

.board > [data-state="marked"] {
    background-color: yellow;
}
/*page content*/
.content{
    text-align: center;
    padding: 1%;

}
/*title*/
.content h1{
    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin-top: 5vh;
    position: relative;
    display: inline-flex;
    width: max-content;
    letter-spacing: 2px;
}
.subtitle{
    font-size: clamp(1rem, 1.4vw, 3rem);
    opacity: 75;
    transform: translateY(3rem);

}
@keyframes blinking {
    0% {
      background-color: #A7C957;
  
    }
    100% {
      background-color: black;
  
    }
  }
  #blink {
      margin: auto;

      width: clamp(38rem, 10vw, 50rem);
      height: clamp(0.5em, 0.5vw, 2rem);
      animation: blinking 2s infinite;
}

.dropbtn {
    background-color: #5c8644;
    color: #F2E8CF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown{
    position: relative;
    display: inline-block;
    top: 10%;
    left: 30%;
    transform: translate(-50%, 0%);
}

/* Dropdown Content (Hidden by Default)*/ 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5c8644;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }