
*{
    /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height.*/
    box-sizing: border-box;
}
body{
    background-color:  #99ceff;
    margin: 5%;
    color: black;
}
.topnav{
    height: 5%;
    width: 100%;

    background-color: navy;
    position: sticky;


}

.board {
    display: inline-grid;
    padding: 0px;
    grid-template-columns: repeat(var(--size), 60px);
    grid-template-rows: repeat(var(--size), 60px);
    gap: 1px;
    background-color: #6a994e;
  }
  
  .board > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a994e;
    border: 2px solid #5c8644;
    user-select: none;
  }

  /*different states for the tiles*/
  .board > [data-state="hidden"] {
    background-color: #6A994E;
    cursor: pointer;
  }
  
  .board > [data-state="mine"] {
    background-color: #BC4749;
  }
  
  .board > [data-state="number"] {
    background-color: #F2E8CF;
  }
  
  .board > [data-state="marked"] {
    background-color: yellow;
  }